n8n/flujo_01_recepcion_pqr.json
{
  "name": "FLUJO 1 — Recepción PQR Web",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "radicar-pqr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1-webhook",
      "name": "Webhook Recepción PQR",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "pqr-recepcion-v2"
    },
    {
      "parameters": {
        "jsCode": "const ahora = new Date();\nconst fecha = ahora.toISOString().slice(0,10).replace(/-/g,'');\nconst rand = Math.floor(Math.random() * 9000 + 1000);\nconst ticket_id = `TD-${fecha}-${rand}`;\n\n// Soporta body anidado (webhook) o directo\nconst body = $input.first().json.body || $input.first().json;\n\n// El formulario envía: tipo, canal, nombre, documento, correo, telefono,\n// descripcion, contacto_preferido, confirmacion_correo, sin_correo\nconst tipo_pqr = body.tipo || body.tipo_pqr || 'peticion';\n\n// Mapear canal de contacto preferido\nconst canal_raw = body.canal || body.contacto_preferido || body.canal_contacto || 'formulario_web';\nconst canal_map = {\n  'whatsapp': 'whatsapp',\n  'correo':   'correo',\n  'llamada':  'telefono',\n  'formulario_web': 'formulario_web',\n};\nconst canal_contacto = canal_map[canal_raw] || canal_raw;\n\nreturn [{\n  json: {\n    ticket_id,\n    nombre:             body.nombre          || 'Anónimo',\n    correo:             body.correo          || body.confirmacion_correo || '',\n    telefono:           body.telefono        || '',\n    documento:          body.documento       || '',\n    tipo_pqr,\n    descripcion:        body.descripcion     || '',\n    canal_contacto,\n    contacto_preferido: body.contacto_preferido || canal_raw,\n    sin_correo:         body.sin_correo      || false,\n    origen:             'formulario_web',\n    estado:             'pendiente',\n    prioridad:          'media',\n    acuse_enviado:      false,\n    notif_agente:       false,\n  }\n}];"
      },
      "id": "f1-generar",
      "name": "Generar Ticket ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yeiupcumvdvdswfhcoty.supabase.co/rest/v1/correos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket_id\":           \"{{ $json.ticket_id }}\",\n  \"nombre\":              \"{{ $json.nombre }}\",\n  \"correo\":              \"{{ $json.correo }}\",\n  \"telefono\":            \"{{ $json.telefono }}\",\n  \"documento\":           \"{{ $json.documento }}\",\n  \"tipo_pqr\":            \"{{ $json.tipo_pqr }}\",\n  \"descripcion\":         \"{{ $json.descripcion }}\",\n  \"canal_contacto\":      \"{{ $json.canal_contacto }}\",\n  \"contacto_preferido\":  \"{{ $json.contacto_preferido }}\",\n  \"sin_correo\":          {{ $json.sin_correo }},\n  \"origen\":              \"{{ $json.origen }}\",\n  \"estado\":              \"{{ $json.estado }}\",\n  \"prioridad\":           \"{{ $json.prioridad }}\",\n  \"acuse_enviado\":       {{ $json.acuse_enviado }},\n  \"notif_agente\":        {{ $json.notif_agente }}\n}"
      },
      "id": "f1-insert",
      "name": "INSERT correo en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PADCchCXZ8moH0XN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"radicado\":\"{{ $('Generar Ticket ID').first().json.ticket_id }}\",\"ticket_id\":\"{{ $('Generar Ticket ID').first().json.ticket_id }}\",\"message\":\"PQR radicada exitosamente. Recibirás confirmación en tu correo.\"}",
        "options": {}
      },
      "id": "f1-respond",
      "name": "Responder al formulario",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Recepción PQR": {
      "main": [
        [
          {
            "node": "Generar Ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Ticket ID": {
      "main": [
        [
          {
            "node": "INSERT correo en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT correo en Supabase": {
      "main": [
        [
          {
            "node": "Responder al formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "flujo-01-v2",
  "tags": [],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fca1950383745f5d8e08873df2371ef6cedd6355117a98cfed35530b594323f0"
  }
}
