n8n/flujo_02_clasificacion_ia.json
{
  "name": "FLUJO 2 — Clasificación IA (GPT)",
  "nodes": [
    {
      "id": "f2-trigger",
      "name": "Schedule Revisar Nuevos (cada 2 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 2 }] }
      }
    },
    {
      "id": "f2-get-pendientes",
      "name": "Obtener PQR sin clasificar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [420, 300],
      "parameters": {
        "method": "GET",
        "url": "https://yeiupcumvdvdswfhcoty.supabase.co/rest/v1/correos?origen=eq.pendiente_clasificacion&select=id,descripcion,tipo_pqr&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $credentials.supabaseServiceKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $credentials.supabaseServiceKey }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "f2-check",
      "name": "¿Hay PQR para clasificar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-hay-items",
              "leftValue":  "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "f2-split",
      "name": "Separar por PQR",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [860, 200],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "f2-gpt",
      "name": "GPT-4o-mini Clasificar",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1080, 200],
      "parameters": {
        "operation": "message",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un clasificador de PQR para Tododrogas (farmacia colombiana).\nAnaliza el texto y responde SOLO con JSON válido, sin markdown:\n{\n  \"tipo_pqr\": \"peticion|queja|reclamo|sugerencia|felicitacion\",\n  \"prioridad\": \"alta|media|baja\",\n  \"sentimiento\": \"positivo|neutro|negativo|muy_negativo\",\n  \"categoria_ia\": \"atencion_cliente|producto|precios|espera|error_factura|otro\",\n  \"resumen_corto\": \"máximo 15 palabras\"\n}\nSi el texto menciona: urgencia/enfermedad grave/medicamento crítico → prioridad alta.\nSi no hay texto útil → tipo_pqr: peticion, prioridad: baja."
            },
            {
              "role": "user",
              "content": "={{ $json.descripcion }}"
            }
          ]
        },
        "options": { "maxTokens": 200, "temperature": 0.1 }
      }
    },
    {
      "id": "f2-parse",
      "name": "Parsear JSON de GPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 200],
      "parameters": {
        "jsCode": "const correoId = $('Separar por PQR').first().json.id;\nconst raw = $input.first().json.message?.content || '{}';\n\nlet clasificacion;\ntry {\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  clasificacion = JSON.parse(cleaned);\n} catch(e) {\n  clasificacion = {\n    tipo_pqr: 'peticion',\n    prioridad: 'media',\n    sentimiento: 'neutro',\n    categoria_ia: 'otro',\n    resumen_corto: 'Sin clasificar'\n  };\n}\n\n// Calcular fecha_limite_sla\nconst sla = { peticion:168, queja:120, reclamo:168, sugerencia:240, felicitacion:240 };\nconst horas = sla[clasificacion.tipo_pqr] || 168;\nconst fecha_limite_sla = new Date(Date.now() + horas * 3600000).toISOString();\n\nreturn [{ json: { correo_id: correoId, ...clasificacion, fecha_limite_sla, origen: 'clasificado' } }];"
      }
    },
    {
      "id": "f2-update",
      "name": "UPDATE correo con clasificación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1520, 200],
      "parameters": {
        "method": "PATCH",
        "url": "=https://yeiupcumvdvdswfhcoty.supabase.co/rest/v1/correos?id=eq.{{ $json.correo_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $credentials.supabaseServiceKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $credentials.supabaseServiceKey }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tipo_pqr\":        \"{{ $json.tipo_pqr }}\",\n  \"prioridad\":       \"{{ $json.prioridad }}\",\n  \"sentimiento\":     \"{{ $json.sentimiento }}\",\n  \"categoria_ia\":    \"{{ $json.categoria_ia }}\",\n  \"origen\":          \"clasificado\",\n  \"fecha_limite_sla\":\"{{ $json.fecha_limite_sla }}\"\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Revisar Nuevos (cada 2 min)": { "main": [[{ "node": "Obtener PQR sin clasificar",   "type": "main", "index": 0 }]] },
    "Obtener PQR sin clasificar":           { "main": [[{ "node": "¿Hay PQR para clasificar?",    "type": "main", "index": 0 }]] },
    "¿Hay PQR para clasificar?":            { "main": [[{ "node": "Separar por PQR",              "type": "main", "index": 0 }], []] },
    "Separar por PQR":                      { "main": [[{ "node": "GPT-4o-mini Clasificar",        "type": "main", "index": 0 }]] },
    "GPT-4o-mini Clasificar":               { "main": [[{ "node": "Parsear JSON de GPT",          "type": "main", "index": 0 }]] },
    "Parsear JSON de GPT":                  { "main": [[{ "node": "UPDATE correo con clasificación","type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "PQR-IA" }]
}
