n8n/flujo_01_recepcion_pqr.json
{
  "name": "FLUJO 1 — Recepción PQR Web",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "radicar-pqr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1-webhook",
      "name": "Webhook Recepción PQR",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "pqr-recepcion-v2"
    },
    {
      "parameters": {
        "jsCode": "const ahora = new Date();\nconst fecha = ahora.toISOString().slice(0,10).replace(/-/g,'');\nconst rand = Math.floor(Math.random() * 9000 + 1000);\nconst ticket_id = `TD-${fecha}-${rand}`;\n\nconst body = $input.first().json.body || $input.first().json;\n\nreturn [{\n  json: {\n    nombre:         body.nombre         || 'Anónimo',\n    correo:         body.correo         || '',\n    telefono:       body.telefono        || '',\n    documento:      body.documento       || '',\n    tipo_pqr:       body.tipo_pqr        || 'peticion',\n    descripcion:    body.descripcion     || '',\n    canal_contacto: body.canal           || body.canal_contacto || 'formulario_web',\n    origen:         'formulario_web',\n    ticket_id:      ticket_id,\n    estado:         'pendiente',\n    prioridad:      'media',\n    acuse_enviado:  false,\n    notif_agente:   false,\n  }\n}];"
      },
      "id": "f1-generar",
      "name": "Generar Ticket ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yeiupcumvdvdswfhcoty.supabase.co/rest/v1/correos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "f1-insert",
      "name": "INSERT correo en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PADCchCXZ8moH0XN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"radicado\":\"{{ $('Generar Ticket ID').first().json.ticket_id }}\",\"ticket_id\":\"{{ $('Generar Ticket ID').first().json.ticket_id }}\",\"message\":\"PQR radicada exitosamente. Recibirás confirmación en tu correo.\"}",
        "options": {}
      },
      "id": "f1-respond",
      "name": "Responder al formulario",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Recepción PQR": {
      "main": [
        [
          {
            "node": "Generar Ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Ticket ID": {
      "main": [
        [
          {
            "node": "INSERT correo en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT correo en Supabase": {
      "main": [
        [
          {
            "node": "Responder al formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "flujo-01-v2",
  "tags": [],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fca1950383745f5d8e08873df2371ef6cedd6355117a98cfed35530b594323f0"
  }
}
