n8n/flujo_08_canal_canvas.json
{
  "name": "FLUJO 8 — Canal Buzón Virtual (Canvas/Escritura)",
  "nodes": [
    {
      "id": "f8-wh",
      "name": "Webhook Canvas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": { "httpMethod": "POST", "path": "pqr-canvas", "responseMode": "lastNode", "options": {} }
    },
    {
      "id": "f8-upload",
      "name": "Subir imagen a Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [420, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://yeiupcumvdvdswfhcoty.supabase.co/storage/v1/object/canvas-images/canvas_{{ Date.now() }}.png",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $credentials.supabaseServiceKey }}" },
            { "name": "Content-Type",  "value": "image/png" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.imagen_base64 }}",
        "options": {}
      }
    },
    {
      "id": "f8-vision",
      "name": "GPT-4o Vision — Transcribir escritura",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [640, 300],
      "parameters": {
        "operation": "message",
        "modelId": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "Transcribe EXACTAMENTE el texto que aparece escrito en esta imagen. Es una nota manuscrita o texto escrito a mano de un ciudadano que quiere presentar una PQR (petición, queja o reclamo) a Tododrogas. Si no puedes leer algo, indícalo con [ilegible]. Transcribe solo el texto, sin comentarios adicionales.",
              "contentType": "multipart",
              "multipartParts": [
                {
                  "type": "image_url",
                  "image_url": { "url": "={{ $('Webhook Canvas').first().json.body.imagen_base64 }}" }
                }
              ]
            }
          ]
        },
        "options": { "maxTokens": 500 }
      }
    },
    {
      "id": "f8-call-f1",
      "name": "Llamar Flujo 1 — Radicar PQR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [860, 300],
      "parameters": {
        "method": "POST",
        "url": "https://td-pruebas.online/webhook/pqr-recepcion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nombre\":         \"{{ $('Webhook Canvas').first().json.body.nombre }}\",\n  \"correo\":         \"{{ $('Webhook Canvas').first().json.body.correo }}\",\n  \"telefono\":       \"{{ $('Webhook Canvas').first().json.body.telefono }}\",\n  \"tipo_pqr\":       \"peticion\",\n  \"descripcion\":    \"{{ $json.message.content }}\",\n  \"canal_contacto\": \"buzon_virtual\",\n  \"origen\":         \"canvas\",\n  \"transcripcion\":  \"{{ $json.message.content }}\",\n  \"canvas_url\":     \"{{ $('Subir imagen a Supabase Storage').first().json.Key }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "f8-respond",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"ticket_id\": \"{{ $json.ticket_id }}\", \"transcripcion\": \"{{ $('GPT-4o Vision — Transcribir escritura').first().json.message.content.substring(0,100) }}...\" }",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Canvas":                        { "main": [[{ "node": "Subir imagen a Supabase Storage",   "type": "main", "index": 0 }]] },
    "Subir imagen a Supabase Storage":       { "main": [[{ "node": "GPT-4o Vision — Transcribir escritura","type": "main", "index": 0 }]] },
    "GPT-4o Vision — Transcribir escritura": { "main": [[{ "node": "Llamar Flujo 1 — Radicar PQR",      "type": "main", "index": 0 }]] },
    "Llamar Flujo 1 — Radicar PQR":          { "main": [[{ "node": "Responder OK",                      "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "PQR-Canales" }]
}
